
DATABASE CONFIGURATION

POSTGRES_DB=uploader
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
DB_PASSWORD=your_postgres_password

APPLICATION CONFIG

PORT=8081

AWS S3 CONFIGURATION

AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key
AWS_REGION=your_region (e.g. ap-south-1)
AWS_BUCKET_NAME=your_bucket_name


FRONTEND CONFIG (OPTIONAL)

FRONTEND_URL=http://localhost:3000
